<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--
      Xóa sạch tất cả global sources bị hỏng,
      chỉ dùng nuget.org chính thức.
    -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
